---
layout: page
title: Archives
permalink: /archives/
---

<h1> Daily Comic Archive </h1>
<select name="Daily comic" onchange="location = this.value;">

          {% for post in site.posts reversed %}
          {% if post.tags contains 'dailycomic' %}
          	 <option value="{{ post.url }}">{{ post.title }}</option>
          {% endif %}
          {% endfor %}
</select>

<!-- Old way I did things:

{% for post in site.posts %}
    {% if post.tags contains 'dailycomic' %}
  [{{ post.title }}]({{ post.url }})
     {% endif %}
{% endfor %} -->


<p></p>
<h1> Jell-O Pages Archive </h1>
<select name="Jell-O Pages Archive" onchange="location = this.value;">

          {% for post in site.posts reversed %}
          {% if post.tags contains 'jello' %}
          	 <option value="{{ post.url }}">{{ post.title }}</option>
          {% endif %}
          {% endfor %}
</select>

<p></p>
<h1> Billboards vs. Beautification Archive </h1>
<select name="Billboards vs. Beautification Archive" onchange="location = this.value;">

          {% for post in site.posts reversed %}
          {% if post.tags contains 'billboard' %}
          	 <option value="{{ post.url }}">{{ post.title }}</option>
          {% endif %}
          {% endfor %}
</select>

<p></p>
<h1> Alice in Wonderland Archive </h1>
<select name="Alice in Wonderland" onchange="location = this.value;">

          {% for post in site.posts reversed %}
          {% if post.tags contains 'wonderland' %}
          	 <option value="{{ post.url }}">{{ post.title }}</option>
          {% endif %}
          {% endfor %}
</select>

<p></p>
<h1> The Earth Archive </h1>
<select name="The Earth" onchange="location = this.value;">

          {% for post in site.posts reversed %}
          {% if post.tags contains 'earth' %}
          	 <option value="{{ post.url }}">{{ post.title }}</option>
          {% endif %}
          {% endfor %}
</select>

<p></p>
<h1> College Math Notes Archive </h1>
<select name="College Math Notes" onchange="location = this.value;">

          {% for post in site.posts reversed %}
          {% if post.tags contains 'math' %}
          	 <option value="{{ post.url }}">{{ post.title }}</option>
          {% endif %}
          {% endfor %}
</select>

<p></p>
<h1> A Sixth Transition Archive </h1>
<select name="A Sixth Transition" onchange="location = this.value;">

          {% for post in site.posts reversed %}
          {% if post.tags contains 'sixth' %}
          	 <option value="{{ post.url }}">{{ post.title }}</option>
          {% endif %}
          {% endfor %}
</select>
