// Placeholder to allow overriding predefined variables smoothly.

$brand-color:           #3E6130;

$text-color:            #272E23;
$background-color:      #B4C7AD;

$link-base-color:       #329409;
$link-visited-color:    darken($link-base-color, 15%);
